@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
      --color-primary: rgba(255 255 255 0.70);
      /* ... */
    }
}





h1, h2, h3, h4, h5, h6, p{
    text-align: left !important;

}

html, body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    scroll-behavior: smooth;
}

